<div class="container-fluid header-background">
    <div class="row justify-content-between">
        <h1 class="col link-pointer my-2 ms-3" routerLink="">Cyber-Sicherheit Blog</h1>

        <div class="col my-2 d-flex justify-content-end pe-5">
            <!--        TODO: isLoggedIn checken-->
            <button *ngIf="isAdmin" (click)="adminConsole()" class="btn btn-outline-secondary btn-lg ms-3">Admin Console</button>

            <button *ngIf="isAutor" (click)="newArticle()" class="btn btn-outline-secondary btn-lg ms-3">New Article</button>

            <button *ngIf="!isLoggedIn && !isRegisterPage" (click)="register()" class="btn btn-outline-primary btn-lg ms-3">Register</button>

            <button *ngIf="!isLoggedIn && !isLoginPage" (click)="login()" class="btn btn-outline-primary btn-lg ms-3">Login</button>
            <button *ngIf="isLoggedIn" (click)="logout()" class="btn btn-outline-primary btn-lg ms-3">Logout</button>
        </div>
    </div>

    <div class="pt-4"></div>
</div>
