/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
@import "node_modules/bootstrap-icons/font/bootstrap-icons.css";

*{
    font-family: 'Noto Sans', sans-serif;
}

.form-group {
    margin-bottom: 30px;
}

.link-pointer:hover{
    cursor: pointer;
}

.text-gray{
    color: #6c757d;
}
